.navbarContainer {
	display: flex;
	justify-content: space-between;
	background-color: rgb(58, 58, 58);
}
.link {
	color: white;
	text-decoration: none;
	padding: 18px 10px;
}

.link:hover {
	background-color: rgb(78, 78, 78);
}

.link:active {
	background-color: rgb(37, 37, 37);
}

.leftContainer {
	display: flex;
	justify-content: left;
}

.rightContainer {
	display: flex;
	justify-content: flex-end;
}
